/* Universal Selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Section */
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    border: 1px solid black;
    background-image: linear-gradient(to right, rgb(80, 80, 255), rgb(0, 0, 71));
    margin: 0.5rem;
}

#header {
    color: #fff;
    font-weight: bold;
}

/* Column Split Section */
#search-section {
    width: 18%;
    float: left;
}

#forecast-section {
    width: 82%;
    float: right;
    padding-right: 15rem;
    padding-left: 3rem;
    padding-top: 1rem;
}

/* Search Section */
#form-container {
    border-bottom: 1px solid black;
    margin-left: 1rem;
}

.search-h2 {
    font-size: 2rem;
    font-weight: bold;
}

#search-bar {
    border-radius: 0.3rem;
    width: 20rem;
    height: 2.5rem;
    margin-top: 0.5rem;
}

#search-btn {
    margin-top: 1rem;
    width: 20rem;
    height: 2rem;
    border-radius: 0.3rem;
    background-color: rgb(66, 157, 255);
    color: #fff;
    margin-bottom: 1rem;
}

.clean-up-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.3rem;
    margin-left: 1rem;
}

.clean-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 2rem;
    border-radius: 0.3rem;
}

/* Forecast Section */
#current-day-forecast-section {
    border: 1px solid black;
    height: 20vh;
}

#five-day-forecast-section {
    height: 30vh;
    margin-top: 1rem;
}

.head {
    font-size: 1.5rem;
}

.day-wrapper {
    display: flex;
    flex-direction: row;
    height: 25vh;
    padding-top: 1rem;
    color: #fff;
}

/* Each card set to each day */
.day-1 {
    border: 1px solid black;
    width: 20%;
    margin-right: 1rem;
    background-color: rgb(35, 31, 65);
}

.day-2 {
    border: 1px solid black;
    width: 20%;
    margin-right: 1rem;
    background-color: rgb(35, 31, 65);
}

.day-3 {
    border: 1px solid black;
    width: 20%;
    margin-right: 1rem;
    background-color: rgb(35, 31, 65);
}

.day-4 {
    border: 1px solid black;
    width: 20%;
    margin-right: 1rem;
    background-color: rgb(35, 31, 65);
}

.day-5 {
    border: 1px solid black;
    width: 20%;
    background-color: rgb(35, 31, 65);
}

/* Creates space for each card */
.temperature {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.gust {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.humid {
    margin-left: 0.5rem;
}

.date {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

/* To hide the local variables */
.hide {
    visibility: hidden;
}
